<h1>Welcome <%= @user.username %></h1>

<form method="POST" action="/days">
  Month: <input type="integer" name="daysoff[date]" /><br />
  Date: <input type="integer" name="daysoff[month]" /><br />
  Year: <input type="integer" name="daysoff[year]" /><br />
  <input type="submit" />
</form>
