<h1>Sign Up</h1>
 <form action="/users" method="POST">
   Work Email: <input name="user[work_email]" type="text" /> <br/>
   Password: <input name="user[password]" type="password" />
   <input type="submit" />

</form>
