<h1>Days Off</h1>
<h2>Sign Up Below</h2>
 <form action="/users" method="POST">
   Work Email: <input name="user[work_email]" type="text" /><br/>
   Password:   <input name="user[password]" type="password" /><br/>
   <p><input type="submit" /></p>

</form>
