<h1><%= @user.username %>, please submit your amended days off below.</h1>

<form method="POST" action="/days/<%=@user.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Month: <input type="integer" name="daysoff[date]" /><br />
  Date: <input type="integer" name="daysoff[month]" /><br />
  Year: <input type="integer" name="daysoff[year]" /><br />
  <input type="submit" value="Update"/>
</form>
