<h1><%= @user.username %>, please submit your amended days off below.</h1>

<form method="POST" action="/days/<%=@day.id%>">
  Month: <input type="integer" name="daysoff[date]" /><br />
  Date: <input type="integer" name="daysoff[month]" /><br />
  Year: <input type="integer" name="daysoff[year]" /><br />
  <input type="submit" />
</form>
