<h1><%= @user.username %>, please submit your amended days off below.</h1>

<form method="POST" action="/days/<%=@user.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Month: <input type="integer" name="days[month]" /><br />
  Date: <input type="integer" name="days[date]" /><br />
  Year: <input type="integer" name="days[year]" /><br />
  <input type="submit" value="Update">
</form>

  <form method="POST" action="/days/<%=@day.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
