<h1>Listed Below are the Logged Days Off of the Office</h1>
<ul>

<% @day.each.with_index do |day, i| %>
<li><%= i + 1 %>. <%=day.month%>/<%=day.date%>/<%=day.year%></li>
<% end %>

<p><h5><a href="/days/new">Log Days</a></h5></p>
<p><h5><a href="/logout">Log Out</a></h5></p>

</ul>
