<h1>Days Off</h1>
<h2>Sign Up Below</h2>

<% if @user && !@user.errors.empty? %>
  <% @user.errors.full_messages.each do |message| %>
  <p><%= message%> </p>
  <% end %>
<% end %>

 <form action="/signup" method="POST">
   Username: <input name="user[username]" type="text" /><br/>
   Password:   <input name="user[password]" type="password" /><br/>
   <p><input type="submit" /></p>

</form>
